[Desktop Entry]
Type=Application
Name=Diakritik
GenericName=Diakritik
Comment=Program na doplňování diakritiky do vět
Icon=@bindir@/diakritik_icon.png
Exec=@bindir@/diakritik
Categories=GNOME;GTK;Utility;
